*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #eee;
}

header{
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
}

header h1{
    font-family: 'Poppins';
    font-size: 3rem;
    font-weight: 900;
    color: red;
}

.galeria-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    gap: 2vw;
    padding: 0 2vw;
}

.galeria-items{
    width: 340px;
    height: 250px;
    border: 10px solid #fff;
    box-shadow: 5px 5px 5px #0006;
    transition: transform 1s linear;
}

.galeria-items img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

footer{
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgb(4, 4, 115);
    font-family: 'Poppins';
    font-size: 2rem;
}

.galeria-items:hover{
    transform: scale(1.3);
}