* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
    font-weight: 100;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background: #f5f5f5;
}


h1 {
    color: rgb(6, 6, 143);
    font-size: 2rem;
    margin-bottom: 20px;
}

.calculadora {
    width: 250px;
    background: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    gap: 15px;
}


.calculadora input {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 1rem;
    outline: none;
    transition: 0.2s;
}

.calculadora input:focus {
    border-color: rgb(6, 6, 143);
}


.botoes {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
}

.botoes button {
    width: 50px;
    height: 45px;
    font-size: 1.3rem;
    cursor: pointer;
    border: none;
    background: rgb(6, 6, 143);
    color: white;
    border-radius: 6px;
    transition: 0.2s;
}

.botoes button:hover {
    background: rgb(20, 20, 200);
    transform: scale(1.05);
}


#resultado {
    margin-top: 15px;
    font-size: 1.2rem;
    font-weight: 500;
    color: rgb(6, 6, 143);
    text-align: center;
}


footer {
    margin-top: 30px;
    font-size: 0.8rem;
    color: rgb(6, 6, 143);
}

footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    text-align: center;
    padding: 10px 0;
}
