*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

form{
    max-width: 400px;
    margin: 20px auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 8px;
    background-color: #f9f9f9;
}

label{
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
    color: #481875;
}

.campo-texto{
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #ddd;
  border-radius: 4px;
  box-sizing: border-box;
}

button{
    background-color: #6915b8;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    display: block; 
    margin: 20px auto;
}

button:hover{
    background-color: #481875;
}

body{
 background: linear-gradient(-120deg, #481875, #481875);
}

h1{
    color: white;
    font-family: 'Poppins', sans-serif;
    text-align: center;
}

footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  color: #fff;
  text-align: center;
  padding: 10px;
  background-color: #6915b8;
}
