*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body {
  background: linear-gradient(to bottom, #f0f0f0, #cce7ff);
  color: #333;
  margin: 0;
  padding: 0;
  line-height: 1.6;
}



h1{
   text-align: center;
  color: #d35400;
  margin-top: 1em;
}

img {
  display: block;
  width: 80%;
  max-width: 400px;
  margin: 2.5em auto 1.5em auto;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0,0,0,0.1);
}

section {
  max-width: 700px;
  margin: 2em auto;
  background: #fff;
  padding: 1.5em;
  border-radius: 8px;
  box-shadow: 0 2px 6px rgba(0,0,0,0.05);
}

h2 {
  color: #e67e22;
  border-bottom: 2px solid #f5cba7;
  padding-bottom: 0.3em;
}

h3
{
  color: #e67e22;
  border-bottom: 2px solid #f5cba7;
  padding-bottom: 0.3em;
}

ul, ol {
  margin-left: 1.5em;
  text-align: left;
  font-style: italic;
}

footer {
  text-align: center;
  padding: 1em 0;
  color: #d35400;
  font-weight: bold;
}

footer a{
  text-decoration: none;
  margin: 10px;
  color: #d35400;
}

nav a{
    text-decoration: none;
    color: #d35400;
   font-weight: 500;
   margin: 0 15px;
}

nav{
    text-align: center;
}

nav a:hover{
 color: #ff6600;
}

footer a:hover{
    color: #ff6600;
}

h1 i {
  color: #ff4000;
  margin-right: 10px;
}

nav a i {
  margin-right: 8px;
  color: #ff4000;
}

footer a i{
  margin-right: 8px;
  color: #ff4000;
}

header {
  text-align: center;
  padding: 1.5em 0;
}

section {
  margin: 3em auto;
}

main {
  max-width: 900px;
  margin: 0 auto;
  padding: 0 1em;
}

nav a, footer a {
  transition: color 0.3s ease;
}


@media (max-width: 768px) {

  img {
    width: 95%;
    max-width: 350px;
    margin: 1em auto;
  }

 
  section {
    margin: 2em 1em;
    padding: 1em;
  }

 
  h1 {
    font-size: 1.5em;
  }

  h2, h3 {
    font-size: 1.2em;
  }


  nav {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  nav a {
    margin: 8px 0;
  }


  footer a {
    display: block;
    margin: 5px 0;
  }

  nav a, footer a {
  transition: all 0.3s ease;
}
}

footer p{
    margin: 15px;
}

h1{
    margin: 15px;
}