*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
font-family: 'Segoe UI', sans-serif;
margin: 0;
padding: 0;
background-color: #f9f9f9;
color: #333;
}

h1{
    background-color: #1e1e2f;
    color: white;
    padding: 20px 0;
    text-align: center;
}

table{
    margin: 20px auto;
    border-collapse: collapse;
    width: 80%;
}

th,td{
    border: 1px solid #ccc;
    padding: 12px;
    text-align: center;
}

th{
    background-color: #1e1e2f;
    color: white;
}

tr:hover{
    background-color: #d6eaf8;
    transition: 0.3s;
}

@media (max-width: 600px){
    table{
        width: 100%;
        font-size: 14px;
    }
    th, td{
        padding: 8px;
    }
}
